{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Faith's Blog | Django + Vite + React</title>
		<!-- CSRF Token Script -->
		<script type="text/javascript">
			window.CSRF_TOKEN = '{{ csrf_token }}';
		</script>
	</head>
	<body>
		<div id="root"></div>
		<!-- Vite will load the main.js here after build -->
		<script
			type="module"
			src="{% static 'frontend/src/main.jsx' %}"
		></script>
	</body>
</html>
